@import "../../styles/variables";
.dashboard-contain {
    height: calc(100vh - 100px);
    overflow: auto;
    .all-dashboard-box {
        border-radius: $most-used-border-radius;
        background: #fff;
        box-shadow: $box-border-shadow;
        padding: 10px;
    }
    .attendance-box {
        .prev-next-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: calc(1.5rem);
        }
        .days-count {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            color: #fff;
            text-align: center;
            font-size: calc(1.5rem - 5px);
            font-weight: 400;
            .present-days-count {
                width: 50%;
                border-radius: 10px;
                background: #006b0b;
                color: #fff;
                padding: 5px;
                margin-right: 10px;
            }
            .absents-days-count {
                width: 50%;
                border-radius: 10px;
                background: #f00;
                color: #fff;
                padding: 5px;
            }
            span {
                color: #fff;
                font-size: calc(1.5rem);
                font-weight: 700;
            }
        }
    }
    .recent-exams-box {
        font-size: calc(1rem);
        .recent-exams-box-overflow {
            height: 300px;
            overflow: auto;
            padding: 0px 12px 0px 0px;
        }
        span {
            color: #026b81;
            font-weight: 500;
        }
        .recent-exam-content:hover {
            background-color: #dddddd;
        }
    }
    .time-table-box {
        height: 100%;
        div {
            width: 100%;
            height: 91%;
            .time-table-image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .parent-dashboard-notice {
        height: calc(100% - 16px);
        overflow: auto;
    }
}
