@import "./variables";

.attendance {
    background-image: url("../../assets/images/Accounts/search-normal.svg") 100% !important;
    background-color: transparent !important;
}
.submit {
    height: 52px;
    width: 220px;
    border-radius: 10px;
    border: none;
    background: $button-background;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 20px auto;
    display: block;
}

.absent .form-check-input,
.present .form-check-input {
    background-color: #ffffff;
    border-color: #000000;
    border-radius: 0px;
    width: 20px;
    height: 20px;
}

.absent .form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("../../assets/images/Attendance/absent.svg");
    background-size: 10px;
}

.present .form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("../../assets/images/Attendance/present.svg");
    background-size: 15px;
}

.total_students {
    height: 50px;
    border-radius: 10px;
    background: $input-background;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding: 0px 15px;
}

.close_button {
    background: none;
    border: none;
}

.search_input {
    width: 299.7px;
    background: $input-background;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {
    .search_input {
        width: 100%;
        background: $input-background;
        border-radius: 10px;
    }
}

.edit {
    border: none;
    background: #1fb42e;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
}

.delete {
    border: none;
    background: #ff0000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
}

.takeAttendance_scroll {
    height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 4px;
}

.table_width {
    width: 200%;
}

@media only screen and (max-width: 700px) {
    .table_width {
        width: 150%;
    }
}
@media only screen and (max-width: 400px) {
    .table_width {
        width: 300%;
    }
}
@media only screen and (min-width: 700px) {
    .table_width {
        width: 100%;
    }
}
