@import "../../styles/variables";

.enquiry-container {
    height: 77vh;
    overflow: auto;
    margin-bottom: 5px;
}

.header-image-container {
    width: 50px;
    height: 150px;
    background-color: $input-background;
    margin: 0 auto;
}

.header-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $label-color !important;
    width: 100%;
    height: 100%;
}

.add-photo-icon {
    font-size: 38px;
}

.select-image-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: $label-color !important;
}
.form-container {
    margin-top: 15px;
}
.educational-container {
    height: 77vh;
    overflow: auto;
    margin-bottom: 5px;
}

.middle-header {
    margin: 10px 0;
    font-weight: 600;
    line-height: 45px;
    color: #000000;
}

///////// Guardian Form Section ///////
.guardain-container {
    height: 77vh;
    overflow: auto;
}

.guardian-label {
    border: none;
    background-color: $input-background;
    border-radius: 8px;
    font-size: 18px;
    color: $label-color;
    padding: 10px;
    width: 30%;
    position: relative;
}

@media only screen and (max-width: 950px) {
    .guardian-label {
        border: none;
        background-color: $input-background;
        border-radius: 8px;
        font-size: 18px;
        color: $label-color;
        padding: 10px;
        width: 70%;
        position: relative;
    }
}

.guardian-check {
    position: absolute;
    right: 0%;
    top: 16%;
}

@media (max-width: 767px) {
    .enquiry-container {
        margin-bottom: 15px;
    }
    .educational-container {
        margin-bottom: 15px;
    }
    .guardain-container {
        margin-bottom: 15px;
    }
    .header-image-container {
        width: 30%;
        height: 90px;
    }

    .add-photo-icon {
        font-size: 28px;
    }

    .select-image-text {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .enquiry-container {
        margin-bottom: 8px;
    }
    .educational-container {
        margin-bottom: 8px;
    }
    .guardain-container {
        margin-bottom: 8px;
    }
    .header-image-container {
        width: 40px;
        height: 120px;
    }
    .add-photo-icon {
        font-size: 32px;
    }

    .select-image-text {
        font-size: 18px;
        line-height: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .enquiry-container {
        margin-bottom: 8px;
    }
    .educational-container {
        margin-bottom: 8px;
    }
    .guardain-container {
        margin-bottom: 8px;
    }
    .header-image-container {
        width: 60px;
        height: 130px;
    }
    .add-photo-icon {
        font-size: 32px;
    }

    .select-image-text {
        font-size: 18px;
        line-height: 30px;
    }
}

/// Enquiry Component CSS
.enquiry-title {
    font-weight: 600;
    line-height: 45px;
    color: #000000;
}

.enquiry-number {
    position: absolute;
    width: 247px;
    height: 37px;
    right: 20px;
    top: 85px;
    border: 0.5px solid;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 500;
    padding: 0 3px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: $label-color;
}
.enquiry-button {
    width: 200px;
    height: 45px;
    background: $button-background !important;
    border-radius: 10px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.primary-border {
    border: 1px solid $button-background;
}

.light-border {
    border-color: light;
}

.enquiry-control,
.form-control {
    color: #000000 !important;
    -webkit-text-fill-color: #000000 !important;
}

.enquiry-label,
.form-label {
    text-align: left !important;
}

.form-group .enquiry-control {
    font-weight: 500;
    font-size: 18px;
    border: none;
    background-color: $input-background;
    border-radius: 10px;
    color: #000000;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .enquiry-number {
        width: 200px;
        font-size: 16px;
        line-height: 24px;
        top: 65px;
        right: 15px;
        text-align: center;
        height: 30px;
    }
    .enquiry-title {
        margin-top: 2%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .enquiry-title {
        margin-top: 1%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .enquiry-title {
        margin-top: 1%;
    }
}

.prefix_width {
    width: 15%;
}

.educational_select_width {
    width: 100%;
}

.enquiry_form_student_photo {
    width: 229px;
    height: 255px;
    background: $input-background;
    border-radius: 10px;
}

.selected_photo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.contact_number_checkbox_position {
    top: 57px;
    right: 0px;
    transform: translateY(-50%);
}

.contact_number_checkbox .form-check-input:checked[type="checkbox"] {
    background-image: url("../../../assets/images/Master/checkmark.svg") !important;
    background-size: 80% !important;
    background-color: transparent;
}

.contact_number_checkbox .form-check-input[type="checkbox"] {
    border: 2.5px solid $label-color !important;
    padding: 9px !important;
    background-color: transparent;
}

.Sibling_details_add_icon {
    background: none;
    border: none;
}

.check_box_wrapper {
    width: 100%;
    background-color: $input-background;
    display: flex;
    justify-content: end;
    height: 51px;
    margin: 0px !important;
    top: 20px;
    border-radius: 10px;
    align-items: center;
}

.datepicker {
    background-color: $input-background;
    border: none;
    height: 51px;
    width: 100%;
    border-radius: 10px;
    padding: 0px 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $label-color;
}

.radio_check_box .form-check-label {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.radio_check_box .form-check-input {
    height: 22px;
    width: 22px;
    background-color: #ffffff;
    border: $button-background 2px solid;
    padding: 2px;
}

.radio_check_box .form-check-input:checked {
    height: 22px;
    width: 22px;
    background-color: #ffffff !important;
    background-image: url("../../../assets/images/Enquiry_form/dot.svg") !important;
    background-size: 65px 65px !important;
    border: $button-background 2px solid !important;
    padding: 2px !important;
}
