@import "../../styles/variables";

.radio_style .form-check-label {
    font-weight: 400;
    font-size: 1.25rem;
    align-self: center;
    line-height: 25px;
    color: #000000;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.radio_style .form-check-input {
    height: 17px;
    width: 17px;
    background-color: #ffffff;
    border: $button-background 1px solid;
    padding: 2px;
}

.radio_style .form-check-input:checked {
    background-color: #ffffff !important;
    background-image: url("../../../assets/images/Enquiry_form/dot.svg") !important;
    background-size: 7vh !important;
    border: $button-background 1px solid !important;
    padding: 2px !important;
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .attendance_table {
        width: 150%;
    }
}
