@import "../../styles/variables";

@media (max-width: 768px) {
    .account-container {
        height: 66vh;
        overflow: auto;
    }
}

.table_width {
    width: 200%;
}
@media only screen and (max-width: 700px) {
    .table_width {
        width: 400%;
    }
}

@media only screen and (min-width: 1600px) {
    .table_width {
        width: 100%;
    }
}

.filter {
    width: 100%;
    padding: 23px 23px 30px 23px;
    border-radius: 30px;
    background: $color-text-invert;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 475px) {
    .filter {
        width: 440px;
        padding: 23px 23px 30px 23px;
        border-radius: 30px;
        background: $color-text-invert;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (min-width: 610px) {
    .filter {
        width: 440px;
        width: 560px;
        padding: 23px 23px 30px 23px;
        border-radius: 30px;
        border: none !important;
    }
}

.filter_btn {
    border-radius: 10px !important;
    background: $input-background !important;
    border: none !important;
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 18px !important;
    padding: 8px 10px !important;
}

.input_filed {
    border-radius: 10px !important;
    background: $input-background !important;
    border: none !important;
}
