@import "../../../../views/styles/variables";

.saveButton {
    position: sticky;
    bottom: 40px;
    right: 40%;
}

.form__content {
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.radio_label {
    font-weight: 510;
    font-size: 18px;
    color: $label-color;
}

.submit_button {
    max-width: 232px;
    height: 54px;
    background: $button-background;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-weight: 510;
    font-size: 28px;
    line-height: 33px;
    color: #ffffff;
}

.admissionLabel {
    font-weight: 510 !important;
    font-size: 22px !important;
    line-height: 26px !important;
    color: $label-color !important   ;
}

.modal__body {
    border-radius: $most-used-border-radius;
}

.shadow {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25) !important;
    height: 45px !important;
}
