@import "../../../views/styles/_variables";
@import "../../../views/styles/_mixins";
@import "../../../views/styles/_helpers";
@import "../../../views/styles/_elements";
@import "../../../views/styles/_forms";

.modal {
  $self: &;
  $box-shadow: 0 0 rem(10px) hsla(0, 0%, 0%, 0.15);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: unset;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: $box-shadow;
  background: #ffffff;
  width: 90%;
  height: auto;
  padding: 0 rem(20px);
  color: #34485c;

  &#{&}_wide {
    max-width: rem(900px);
  }

  &#{&}_lg-wide {
    max-width: 1200px;
  }

  &#{&}_full-width {
    max-width: none;
  }

  &#{&}_dialog {
    max-width: rem(500px);
    min-height: rem(100px);
    border: none;

    #{$self}__header {
      background-color: $color-accent;
      border-bottom: none;
      box-shadow: 0 -2px 0 0 $color-accent, $box-shadow;
    }

    #{$self}__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem($font-size-regular);
      font-weight: 400;
      color: $color-text-invert;

      .icon {
        position: relative;
        top: rem(-1px);
        font-size: 1.3em;
        margin-right: 0.5em;
        opacity: 0.5;
      }
    }

    #{$self}__body {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: 1.3em;
        margin-right: 0.5em;
        color: $color-accent;
      }
    }

    #{$self}__footer {
      border-top: none;
      padding-top: rem(10px);
    }
  }

  > div {
    padding: rem(20px);
  }

  & &__header {
    border-top-right-radius: $border-rad-lg;
    border-top-left-radius: $border-rad-lg;
    padding-bottom: unset;
    padding-top: rem(40px);
    font-weight: 700;
  }

  & &__title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: rem($font-size-heading);
    font-weight: 700;
  }

  & &__title-icon {
    opacity: 0.5;
    margin-right: 0.5em;
  }

  & &__body {
    flex: 1;
    padding-top: rem(20px);
    padding-bottom: rem(20px);
    max-height: calc(100vh - 200px);
    overflow: auto;

    .form__item:not(.form__item_summary) {
      margin: 0 0 rem(10px);
    }
  }

  & &__footer {
    flex: 0;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: $border-rad-lg;
    border-bottom-left-radius: $border-rad-lg;
    padding-bottom: rem(40px);
    padding-top: unset;

    .btn {
      min-width: rem(100px);
      margin: 0 rem(5px);
    }
  }

  & &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form__row {
  flex-wrap: nowrap;
  margin-bottom: 7px;

  @media (max-width: "900px") {
    flex-wrap: wrap;
  }
}

.standard-modal {
  &.modal-lg {
    @media (max-width: 992px) {
      max-width: 100% !important;
    }
  }

  &.modal-md {
    @media (max-width: 768px) {
      max-width: 100% !important;
    }
  }
}

