@import "../../styles/variables";

.holiday-big-calendar {
    width: 100%;
    border-radius: 20px;
    background: $color-text-invert;
    box-shadow: none;
    // height: 310px;
    flex-shrink: 0;
    padding: 10px 10px;
}

.holiday-calendar-header {
    border-radius: $most-used-border-radius;
    background: $color-text-invert;
    box-shadow: $box-border-shadow;
}

.weeks_and_dates {
    border-radius: $most-used-border-radius;
    background: $color-text-invert;
    box-shadow: $box-border-shadow;
    padding: 20px 10px;
    margin-top: 10px;
}

.holiDay_name[type="text"] {
    font-weight: 510;
    font-size: 22px;
}

.sunday-and-holiday-mix {
    color: #f00 !important;
    background-color: transparent !important;
}

.center-border {
    border-right: 1px solid #000;
}
@media only screen and (max-width: "767px") {
    .center-border {
        border-right: none;
    }
}
